.banner {
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    color: white;
    padding: 250px 0;
    position: relative;
    h1 {
        text-align: center;
        font-family: $font-stack;
        font-size: 62px;
    }
}
// .fashion-banner{
//     background-image: url("img/dress.jpg");
//     background-attachment: fixed;
//     @extend %banner;
   
// }
// .food-banner{
//     background-image: url("img/dress2.jpg");
//     background-attachment: fixed;
//     @extend %banner;

// }
.gallery-banner {
    background-image: url("img/home1.jpg");
    background-attachment: fixed;
    @extend %banner;
    
}
.content {
    margin: 70px 0;
}
.overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    } 
.banner-contact {
    position: relative;
    z-index: 10;
}