// .hero{
//     background:url("img/home.jpg");
//     background-repeat: no-repeat; 
//     background-position: top center;
//     background-attachment: fixed;
//     background-size: cover;
//     padding: 280px 0;
//     text-align: center;
//     position: relative;
  
// }
.hero-title{
    color: white;
    font-size: 62px;
    font-family: $font-stack;
}
.hero-slogan{
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    color: #bfba55; 
}
.btn-hero{
    background: white;
    color: #444444;
    font-family: $font-stack;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 13px 22px;
    border-radius: 140px;
    margin-top: 42px;
    border: 1px solid white;
    &:hover{
        background: transparent;
        color: white;
        border: 1px solid green;
    }  
  
}
.hero-contact {
    position: relative;
    z-index: 10;
}